RewriteEngine On

# 🔒 Ne JAMAIS réécrire les fichiers existants
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# 🔒 Ne JAMAIS réécrire les dossiers existants
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 🔁 Tout le reste passe par index.php
RewriteRule ^ index.php [QSA,L]
